<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/75b65cb6-c709-46f1-82ab-5f75e0ca5e56/v3/index.json" />
  </packageSources>
</configuration>